<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="profile-page">
  <div class="main main-raised" style="margin-top:250px;">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
       <div class="profile">
             <div class="avatar">
                <%= image_tag avatar_profile(@user), class: "img-circle img-responsive img-raised" %>
              </div>
              <div class="name">
                  <h3 class="title"><%= @user.name %></h3>
  	              <h6>Designer</h6>
                  <a href="show.html.erb#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                  <a href="show.html.erb#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="show.html.erb#pablo" class="btn btn-just-icon btn-simple btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
        </div>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">mail_outline</i>
    </div>
    <div class="card-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= devise_error_messages! %>
        <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
        <%= f.file_field :avatar, id: "avatar-upload" %>
        <%= f.hidden_field :avatar_cache %>
        
        <div class="form-group">
          <%= f.label :email, {:class => 'control-label'} %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>
          
        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>

<script>
  $(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-upload").change(function(){
    $('#img_prev').removeClass('hidden');
    readURL(this);
  });
});
</script>
